# This file has been put as the global gitignore for any
# git repo created on this computer. Update it with:
#   git config --global core.excludesfile /Users/JohnKeefe/Dropbox/Coding/git/global-dot-gitignore

.DS_Store
.AppleDouble
.LSOverride

scratch.*

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk